body{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Didact Gothic', sans-serif;
    src: url(DidactGothic-Regular.ttf);
} 
html{
    font-family: 'Didact Gothic', sans-serif;
}
.loginSection{
    background-image: url(./images/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    display: flex;
    text-align: start;
}
.mainPart{
    background-color: white;
    margin: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    
}
header img{
    width: 300px;
}
.mainPart h1{
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}
.mainPart input{
    border: none;
    header img{
        width: 300px;
    }
}
input:focus{
    outline: none;
}
.mainPart input::placeholder{
    font-size: 15px;
}
.usernameDiv{
    font-size: 10px;
    border-bottom: 1px solid;
}
.passwordDiv{
    font-size: 10px;
    border-bottom: 1px solid;
    align-items: center;
    display: flex;
}
.mainPart a {
    color: black;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}
.logInButton{
    background: rgba(155,82,115,1);
    background: radial-gradient(circle, rgba(155,82,115,1) 0%, rgba(196,62,158,1) 33%, rgba(189,32,103,1) 67%, rgba(195,59,153,1) 97%, rgba(255,244,249,1) 99%);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: white;
    border-radius: 100px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.signUp{
    border: none;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}
.text{
    color: black;
    text-decoration: none;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;

}
/* sign up */
.col{
    width: 48%;
}
.col input {
    border-bottom: 1px solid;
    width: 90%;
}
.row{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
.mainPartTwo{
    width: 40%;
}
.genderTypes{
    display: flex;
}
.genderTypes input{
    width: auto;
}
.genderTypes input label{
    margin-right: 20px;
}
.maleDiv{
    margin-right: 20px;
}
#SignUpButton{
    margin-top: 30px;
    background: rgb(200,80,192);
    background: radial-gradient(circle, rgba(200,80,192,1) 0%, rgba(196,62,158,1) 33%, rgba(189,32,103,1) 67%, rgba(195,59,153,1) 97%, rgba(255,244,249,1) 99%);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    color: white;
    border-radius: 100px;
    width: 100%;
}
.signUpSection{
    background-image: url(./images/desktop-wallpaper-backgrounds-for-login-page-login-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
}
/* contact */
/* header{
    background-image: url(./images/breadcrumb.webp);
} */
header .container{
    background-color: #ffffff;
    opacity: 0.9;
    position: relative;
    padding: 20px 200px;
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
header .row {
    align-items: center;
}
header .textDiv{
    display: flex;
    gap: 10px;
    font-size: 16px;
}
header .textDiv a{
    text-decoration: none;
    color: black;
}
header ul li a{
    text-decoration: none;
    color: black;
}
.container{
    padding: 20px 200px;
}
.mainPartContact .row{
    flex-direction: column;
    gap: 25px;
}
.mainPartContact .container{
    padding: 80px 200px;
    display: flex;
}
.mainPartContact .row .col{
    background-color: #fff4f9;
    display: flex;
    align-items: center;
    width: 70%;
    padding: 20px 40px;
    gap: 50px;

}

.mainPartContact .row .col i{
    color: #bd2067;
    transition: 1s;
    padding: 10px;
}

.mainPartContact .row .col i:hover{
    background-color: #bd2067;
    color: white;
}
.mainPartContact .secondRow{
    width: 60%;
}
.secondRow input{
    padding: 20px 10px ;
}
.secondRow input::placeholder{
    font-size: 15px;
}
.secondRow textarea{
    padding: 20px 10px ;
}
.secondRow textarea::placeholder{
    font-size: 15px;
}
.secondRow h1{
    margin-top: 0;
}

.secondRow a {
    border: #C850C0 1px solid;
    color: #C850C0;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}

.secondRow a:hover {
    color: #ffffff;
    background-color: #C850C0;
}
footer {
    background-color: #ac6685;
    margin-top: 50px;
}

footer .row {
    display: flex;
    justify-content: space-between;
    padding: 30px 240px;
}

footer .col {
    display: block;
    width: auto;
}

footer h4 {
    font-size: 20px;
    font-family: "roboto medium";
    padding-bottom: 20px;
}

footer p {
    font-size: 17px;
    font-family: "Roboto Regular";
    padding-bottom: 20px;
}

footer i {
    font-size: 20px;
    padding: 5px;
    color: #000000;

}

footer a {
    text-decoration: none;
    font-family: "roboto_medium";
}

footer p {
    font-family: "roboto_regular";
}

footer .col input {
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    border-color: #000000;
    width: auto;
}

footer input::placeholder {
    color: #000000;
}

footer input:hover {
    background-color: #ffffff;
    border-color: #f60000;
}

.subscribe {
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 7px;
}

.subscribe:hover {
    background-color: #ffffff;
    color: #000000;
}

.quickLinks {
    font-size: 18px;
    padding-bottom: 10px;
    display: block;
    color: #000000;
}

#colOne{
    display: none;
}
#header{
    display: none;
    border: none;
    background: none;
    font-size: 30px;
    color: #000000;
    padding: 0;
}
.dropDownMenu{
    flex-direction: column;
}
@media screen and (max-width:762px) {
    #colOne a h3{
        font-size: 18px;
        color: black;
        padding: 0px;
        margin: 0;
    }
    #colOne ul{
        list-style-type: none;
    }
    #colOne a{
        text-decoration: none;
    }
    .colTwo{
        display: none;
    }
    #colOne{
        flex-direction: column;
    }
    #header{
        display: block;
    }
    .mainPartContact .container{
        padding: 0;
        display: block;
        margin-top: 20px;
    }
    .mainPart{
        margin: 30px;
        width: 100%;
    }
    form .row{
        display: block;
        width: 100%;
    }
 .col{
        width: 100%;
    }
    form input{
        width: 100%;
    }
    .mainPartContact .container .row{
        padding: 10px;
        width: auto;
    }
    footer .row{
        display: block;
        padding: 0;
        margin: 0;
    }
    header .container{
        padding: 10px;
    }
    body{
        text-align: center;
    }
    .mainPartContact .row .col{
        width: auto;
    }
    .secondRow a{
        margin: auto;
    }
    .mainPartContact .row .col{
        justify-content: center;
    }
    .mainPartTwo{
        padding: 20px;
    }
    .genderTypes{
        justify-content: center;
    }
    #SignUpButton{
        margin-top: 0;
    }
}
